/* src/App.css */

@font-face {
  font-family: 'Frankfurter Std';
  src: url('./FrankfurterStd.woff2') format('woff2'),
       url('./FrankfurterStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  font-family: 'Frankfurter Std', sans-serif;
  text-shadow: 4px 4px 0px #5d3a57;
  font-weight: 600;
  background-image: url('./PompomBG.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #87cefa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-header {
  background-color: rgba(255, 255, 255, 0.05);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: #f4a7b9;
  position: relative;
  bottom: 50px;
}

.custom-login {
  font-family: 'Lucida Console', monospace;
  text-shadow: none;
  font-size: calc(5px + 2vmin);
  color: cornsilk;
  position: relative;
  left: 250px;
  top: 230px;
}

.custom-timer {
  font-family: 'Lucida Console', monospace;
  text-shadow: none;
  color: cornsilk;
  position: relative;
  font-size: calc(30px + 2vmin);
  top: 100px;
  left: 20px;
}

.custom-input {
  font-family: 'Lucida Console', monospace;
  text-shadow: none;
  font-size: 20px;
  position: relative;
  color: cornsilk;
  top: 450px;
  right: 450px;
}

.custom-clock {
  font-family: 'Frankfurter Std', sans-serif;
  text-shadow: 4px 4px 0px #5d3a57;
  font-size: 30px;
  position: relative;
  color: rgb(97, 172, 187);
  bottom: 10px;
  right: 200px;
}