/* Cat login button */
.cat-login-button {
    width: 130px; 
    height: 130px; 
    background-image: url('cat2.png'); /* Set background image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border: none;
    position: relative;
    overflow: hidden;
  }