/* src/components/GameWorld/GameWorld.css */
.game-world {
    background-image: url('pompombg1_shelby.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }