.leaderboard-table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    top: 75px;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 5px 10px;
    text-align: left;
    font-family: 'Lucida Console', monospace;
    font-size: 18px;
    color: #5d3a57;
    text-shadow: none;
}

.leaderboard-table th {
    background-color: rgb(242, 242, 242);
}

.leaderboard-table td {
    background-color: rgb(242, 242, 242, 0.7);
}

.leaderboard-table th:first-child {
    border-top-left-radius: 10px;
}

.leaderboard-table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}