.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    right: 50px;
}

.leaderboard-table th, .leaderboard-table td {
    border: 5px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    color: rgba(12, 12, 12, 0.96);
    text-shadow: #ffb4f0;
}

.leaderboard-table th {
    background-color: rgb(242, 242, 242);

}
