/* Import cat button styles */
@import url('cat-button.css');

.navbar {
  background-color: #f0f0f0;
  padding: 10px 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  right: 10%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 25px; 
  color: rgb(5, 5, 5);
  border-radius: 90px; /* a circle */
  animation: float 3s infinite alternate; 
  animation-timing-function: ease-in-out; 
}
@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%) translateX(0);
  }
  25% {
    transform: translate(-50%, -50%) translateX(-20px) translateY(-20px);
  }
  50% {
    transform: translate(-50%, -50%) translateX(0) translateY(-40px);
  }
  75% {
    transform: translate(-50%, -50%) translateX(20px) translateY(-20px);
  }
}

.navbar button:hover {
  transform: scale(1.1);
}

.content {
  position: absolute;
  left: 20px; /* Adjusted position to the left ???*/
  top: 50%; 
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.content-open {
  transform: translateX(0);
}

.login-paper {
  margin-top: 20px;
}

.login-heading {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .content {
    top: 45px; 
  }
}
