/* styles.css */

@font-face {
    font-family: 'Frankfurter Std';
    src: url('./FrankfurterStd.woff2') format('woff2'),
         url('./FrankfurterStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  #shop-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#shop-btn:hover {
  background-color: #45a049; 
}

  body {
    font-family: 'Frankfurter Std', sans-serif;
  }