.timer-message {
    margin-left: 20px; 
    background-color: #e8ad64; 
    color: #000000; 
    padding: 10px 20px;
    border-radius: 20px; 
    font-family: 'Frankfurter Std';
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    font-size: 22px;
    white-space: nowrap; 
  }
  
  .timer-message::after {
    content: "Great job! Keep going!";
    position: absolute;
    width: max-content; 
    bottom: 100%;
    left: 50%; 
    transform: translateX(-200%) translateY(-10px);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s, visibility 0s linear 0.5s, transform 0.5s; 
    background-color: #ffffff; 
    color: #000000; 
    padding: 20px 10px; 
    border-radius: 5px; 
    white-space: nowrap; 
    font-size: 20px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    pointer-events: none;
  }
  
  .timer-message:hover::after {
    opacity: 1; 
    visibility: visible; 
    transform: translateX(-50%) translateY(-90px); 
    transition-delay: 0s; 
  }